
  <%= form_for @image, remote: true do |f| %>
      <% if @image.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@image.errors.count, "error") %> prohibited this comentar from being saved:</h2>
            <ul>
            <% @image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
    
  
      <div class="item form-group<%= @image.errors[:description].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :description, "Efeito " %>
      <div class="input-group">
        <%= f.text_field :description, {:class=> "form-control", :placeholder=>"Descrição do Efeito..."} %>        
        <%if @image.errors[:description].any? %>
          <p class="bg-danger"><%= @image.errors[:nombre].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
    
     <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit @image.new_record? ? "Postar" : "Atualizar image", :class => "btn btn-success"%>
      </div>  
  
  <% end %>
  


  