<br/>
<div>  
  <%= link_to new_image_path, { remote: false, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" >uploado</span>
  <% end %>
</div>
<div class="card-columns">
<% @images.each do |image| %>
  <div class="card flex">
      <%= image_tag image.image, loading: "lazy", class: "gallery--image"%>
      <p class="my-1"><%= image.description %></p>
      <%= link_to "View Image", image_path(image.id), class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="s12 m12 lg12">
<center>
<%= will_paginate @diarios,renderer: BootstrapPagination::Rails %> </center>
</div>

<%= render 'modal_images' %>